
.bannerWelcome{
    background-image: url("banner.jpg") !important;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position-x: 30% !important;
    background-position-y: 20% !important;
    background-size: cover!important;

}
.textoWelcome{
}


.somos {
    background-color: rgba(94,114,228, 0.5);
    border-radius: 30%;

}

.seccion1{
    background-color: #172b4d !important;
}

.tarjeta-img{
    background-color: #5e72e4 !important;
    height: 17rem;
    text-align: center;
    width: 25rem;
    margin-right: 2rem;
}
.card_funcion{
    background-color: #172b4d !important;

}

.encabezado_funcion{
    background-color: #172b4d !important;

}
