
.somos {
    background-color: #5e72e4;

}

.seccion1{
    background-color: #172b4d !important;
}

.tarjeta-img{
    background-color: #5e72e4 !important;
    height: 17rem;
    text-align: center;
    width: 25rem;
    margin-right: 2rem;
}
.card_funcion{
    background-color: #172b4d !important;

}

.encabezado_funcion{
    background-color: #172b4d !important;

}
